/* You can add global styles to this file, and also import other style files */



div[size="A4"]{
    width: 21cm;
  height: auto;
 
  margin-bottom: 0.5cm;
  border: 1px solid #ddd;
  box-shadow: 0px 1.15px 0px 0px hsba(228, 26%, 23%, 0.04);
  
}


.bar{
    height: 8px;
    width: 19cm;
    background-color:  #0075ff;
    top: 35px;
}


h1{
    font-size: 1.5em;
    font-size: 24px;
    text-align: left;
    margin-top: 1em;
    font-family: 'Inter', sans-serif !important;
    line-height: 120%;
    font-weight: 500;
}

.vl {
    border-left: 2px solid grey;
    height: 35px;
    margin-top: 5px;
   

  }


ul{
    list-style-type: none;
    display: inline-flex;
    
   
   
   
    
}

li{
    padding-right: 15px;

}


span{
    font-family: "Inter", sans-serif;
}

p{
    font-family: "Inter", sans-serif;
    line-height: 180%;
    font-size: 0.8rem;
}



h2{
    font-family: 'Inter', sans-serif !important;
    font-size:20px;
    line-height: 170%;
    font-weight: 700;
    
}

.btn{
    border-radius: 0;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif !important;
    font-size: 25px;
   
}

.brand{
    width: 150px;

   

}

.dsco{
    margin-top:8px;
    margin-left: -0.6em;
}


.btn{
    width: 45%;
    
}


.btn span{
    text-transform: uppercase;
}