<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<div class="container-fluid">

    <div class="col-sm-12 sr-only wah">
        <span>EMail Invitation</span>
    </div>

    <div class="row">
        <span class="mt-4">
            Email Invitation
        </span>
    </div>
  

    <div class="row">
        <div class="container">
            <div size="A4">

               
                <div class="col container">
                    <div class="bar mb-4 mt-2"></div>

                    <ul>
    
                        <li><img src="/assets/CommerceHub.svg" class="brand"  /></li>
                        <li> <div class="vl"></div></li>
                        <li><img src="/assets/DSCO.svg" class="brand dsco"  /></li>
                        
    
                    </ul>
                    <div class="col container">
                        <p class="mb-4" >Hi Joe Sample,</p>
                <p class="mb-4"> Congratulations! You've been invited to drop ship with ACME Retailer using CommerceHub's Osco platform.</p>

                <p class="mb-4">CommerceHub is a leading ecommerce enablement platform connecting supply,demand and delivery that helps
                    retailers and brands increase sales by expanding product assortments, promoting products on channels that
                    perform, and enabling rapid, on-time customer delivery. You will utilize CommerceHub's Osco platform to fulfill
                    orders, manage inventory, and monitor performance.</p>

                <p class="mb-4">
                    Follow the process outlined below and you could be ready to process orders with ACME Retailer in as little as
                        one day!
                </p>
               <h2 class="mb-4">Whats Next?</h2>


               <p class="mb-4">
                Click the Accept lnvitation11  button below to get started! You'll be invited to register your company, complete your
                profile, and sign the CommerceHub agreement.After your initial signin, use <a href="https://app.dsco.io">https://app.dsco.io</a> to access
                CommerceHub's Osco platform.
               </p>

               <div class="d-flex justify-content-center mb-4 accept">
                     <button  href="https://app.dsco.io/" class=" btn btn-lg btn-primary"><span>Accept Invitation</span></button>
               </div>
            

               <p class="mb-4">
                   <strong>
                    NOTE:
                   </strong>
                   Do not forward this email. If you are having someone help you with your integration to CommerceHub,
                    complete your profile first,t·hen add them as a 1user. (To learn more about adding users to CommerceHub, <a href="https://app.dsco.io">go
                        here.</a>)
               </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>