
<div class="container-fluid mt-5">
<div class="row">
    <div class="reader col-sm-12">

    </div>
    <div class="auth0 col-sm-9">
        <div class="row">
            <div class="col-sm-4 mx-auto mt-5">
                <img src="/assets/CommerceHub.svg" alt="" class="brand mb-4" >
                <p>
                    Driving e-commerce growth with one
connection to the best sources of supply, demand channels that perform,and
optimized customer delivery.
Learn more
                </p>
            </div>
            <div class="col-sm-5 mx-auto">
                    <div class="card px-1 py-4">
                        <div class="card-body">
                            <h3 class="card-title mb-3 text-center">This appointment is for</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group"> <input class="form-control" type="text" placeholder="Email ID"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" d-flex w-100 mt-3 mb-3 acc "> <span class="text-center">Already have an account <a href="/" class="terms">Login</a></span>  
                            </div> <button class="btn btn-primary btn-lg btn-block confirm-button">Confirm</button>
                        </div>
                    </div>
                


            </div>
        </div>
   


    </div>
</div>


</div>